<!-- blogs -->

<div class="col-md-8">
  <% for(var i=0; i<blogs.length; i++) { %>

    <div class="row">
      <div class="col-md-8">
        <% if(blogs[i].image !== null) { %>
           <div>
             <img src=<%- blogs[i].image %> style="width:480px;height:250px">
            </div>
        <% } %>

        <div>
          <a href="/blog/<%- blogs[i].id %>">
            <h3><%- blogs[i].title %></h3>
          </a>
        </div>

        <div class="grey">
          <%- blogs[i].content %>
        </div>
      </div>

      <div class="grey col-md-4">
        <p>by: <%- blogs[i].user.email %></p>
        <p><%- blogs[i].updatedAt.toLocaleString() %></p>
      </div>
    </div>

    <hr>

  <% } %>
</div>

<!-- blogs -->
