<!-- blog -->
<div class="col-md-8">
  <p style="font-size:30px"> <strong >
    Blogs:
  </strong></p>

  <% for(var i=0; i<blogs.length; i++) { %>
    <a href="/blog/<%- blogs[i].id %>">
      <div class="panel panel-default">
        <div class="panel-heading">
         <div style="float: left; font-size:40px; color:black">
          <%- blogs[i].title %>
          </div>
          <div style="clear: both;"></div>
          <div style="float: left; font-size:15px; color:blue">
           by: <%- blogs[i].user.email %>
           </div>

         <div style="clear: both;"></div>
         </div>

         <div style="clear: both;"></div>

        <div class="panel-body">
         <div style="float: left;font-size:18px; color:black">
          <%- blogs[i].content %>
         </div>


         <div style="clear: both;"></div>
        </div>
      </div>
    </a>
  <% } %>

</div>

<!-- blogs -->

<!-- articles -->

<div class="col-md-4">

  <p style="font-size:30px"> <strong >
    Hot Articles:
  </strong></p>

  <% for(var i=0; i<articles.length; i++) { %>

    <a href="/article/<%- articles[i].id %>">

      <div class="panel panel-default">
        <div class="panel-body">
         <div style="float: left; font-size:20px; color:black">
          <%- articles[i].title %>
         </div>

         <div style="clear: both;"></div>

         <div style="float: left;font-size:15px; color:blue">
           by: <%- articles[i].author %>
         </div>
         <div style="float: right; font-size:15px; color:black">
           <%- articles[i].updatedAt.toLocaleString() %>
         </div>


         <div style="clear: both;"></div>
        </div>
      </div>

    </a>

  <% } %>


</div>



<!-- articles -->
