<!-- blog -->
<div class="col-md-8">
  <p style="font-size:30px" "font-family: sans-serif">
    Blogs
  </p>
  <hr>

  <% for(var i=0; i<blogs.length; i++) { %>

    <div class="row">

        <% if(blogs[i].image !== null) { %>
           <div>
             <img src=<%- blogs[i].image %> style="width:600px;height:250px">
            </div>
        <% } %>

        <div class="col-md-8">
        <div>
          <a href="/blog/<%- blogs[i].id %>">
            <h3><%- blogs[i].title %></h3>
          </a>
        </div>

        <div class="grey">
          <%- blogs[i].content %>
        </div>
      </div>

      <div class="grey col-md-4">
        <br>
        <p>by: <%- blogs[i].user.email %></p>
        <p><%- blogs[i].updatedAt.toLocaleString() %></p>
      </div>
    </div>

    <hr>

  <% } %>

</div>

<!-- blogs -->

<!-- articles -->

<div class="col-md-4">


  <div class="panel panel-success">
    <div class="panel-heading">
      <p style="font-size:24px; color:black"; font-family:'Shift'>
        Trending Articles on tldr:
      </p>

  <% for(var i=0; i<articles.length; i++) { %>
    <div class="panel panel-default">
      <div class="panel-body">
    <label>
      <a href="/article/<%- articles[i].id %>">
            <%- articles[i].title %>
      </a>
    </label>

    <div class="grey">
      <p>by:<%- articles[i].author %></p>
      <p><%- articles[i].updatedAt.toLocaleString() %></p>
    </div>

  </div>
  </div>

  <% } %>


</div>
</div>
</div>



<!-- articles -->
